.scoreboard {
	display: grid; /* membuat tampilan scoreboard mjd grid */
	grid-template-columns: repeat(2, 1fr); /* membuat 2 kolom grid yg sama dimensinya*/
	width: 500px;
	font-family: 'Quicksand', sans-serif;
}
.scoreboard__name, .scoreboard__score {
	padding: 10px;
	text-align: center;
}
.scoreboard__name {
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}
.scoreboard__name--one {
	color: red;
}
.scoreboard__name--two {
	color: blue;
}
.scoreboard__score {
	font-size: 2em;
}
.scoreboard__controls {
	display: flex;
}
.scoreboard__control-button {
	flex-grow: 1;
	border: none;
	background: #eee;
	cursor: pointer;
	font-size: 1.2em;
}
.scoreboard__control-button:hover {
	background: #ddd;
}
.scoreboard__control-button:active {
	background: #ccc;
}